@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

#register-page{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
}

#register-card{
    height: 400px;
    width:400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

#img-container{
    height:100%;
    width:100%;
    background-image: url('https://wallpapercave.com/wp/wp8121931.jpg');
    background-position-x:center ;
    background-position-y:center ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    border-radius: 8px;
}

#playerName{
    font-size: larger;
}

#scoreboard-title{
    padding: 15px;
    text-align: center;
    font-family: "Cedarville Cursive", cursive;
    font-weight: bolder;
    font-style:normal;
    font-size: 40px;
}

#scoreboard{
    height:100vh;
    width:100vw;
    background: #314755;  
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  
    background: linear-gradient(to right, #26a0da, #314755); 
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

#logo div{
    height:50px;
    width:50px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#logo div img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.nav-options{
    text-decoration: none;
    margin-right: 15px;
    font-weight: 400;
    color: red;
    padding: 10px;
    border-radius: 5px;
}

.nav-options:hover{
    background-color: black;
}

.active-nav{
    font-weight: bold;
    text-decoration: underline;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}